#!/usr/bin/env ruby

# Preprocess {{{1

preprocess do
  #create_tag_pages
  create_authors_htags
  create_archive_pages
  create_htag_pages('/tags/', items: articles)
end

# }}}1

# sass partial.
ignore '/**/_*'
# vim tmp file.
ignore '/**/.*.swp'


compile '/articles/**/*.html' do
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout '/article.*'
  filter :relativize_paths, type: :html
end

compile '/articles/**/*.adoc' do
  filter :asciidoctor, linkcss: true
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout '/article.*'
  filter :relativize_paths, type: :html
end

compile '/assets/**/*.scss' do
  filter :sass, syntax: :scss
  filter :relativize_paths, type: :css
end

compile '/members/*/*.adoc' do
  filter :asciidoctor, linkcss: true
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout '/member.*'
  filter :relativize_paths, type: :html
end

compile '/tags/index.html.erb' do
  filter :erb
  layout '/page-base.*'
  filter :relativize_paths, type: :html
end

compile '/tags/search.html' do
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout '/page-base.*'
  filter :relativize_paths, type: :html
end

compile '/tags/**/*.html' do
  layout '/htag-page.*'
  filter :relativize_paths, type: :html
end

compile '/tags/**/*.json' do
  layout '/htag-key.json'
end

compile '/feed.xml' do
  filter :erb
end

compile '/archives/*/*.html' do
  layout '/archive-by-year.html'
  filter :relativize_paths, type: :html
end

compile '/archives/*/*/*.html' do
  layout '/archive-by-year-month.html'
  filter :relativize_paths, type: :html
end

compile '/**/*.html' do
  layout '/page-base.html'
  filter :relativize_paths, type: :html
end

compile '/**/*.html.erb' do
  filter :erb
  layout '/page-base.html'
  filter :relativize_paths, type: :html
end

compile '/**/*.json.erb' do
  filter :erb
end

compile '/**/*' do
  write item.identifier.to_s
end

route '/articles/**/index.{html,adoc}' do
  yyyy,mm,dd,slug,relpath = /\/([0-9]{4})-([0-9]{2})-([0-9]{2})-([^\/]+)\/(.+)$/
    .match(@item.identifier.without_ext).captures
  "/#{yyyy}/#{mm}/#{dd}/#{slug}/#{relpath}.html"
end

route '/articles/**/*.{html,adoc}' do
  yyyy,mm,dd,slug,relpath = /\/([0-9]{4})-([0-9]{2})-([0-9]{2})-([^\/]+)\/(.+)$/
    .match(@item.identifier.to_s).captures
  "/#{yyyy}/#{mm}/#{dd}/#{slug}/#{relpath}/index.html"
#  if item.identifier =~ '/index.*'
#    '/index.html'
#  else
#    item.identifier.without_ext + '/index.html'
#  end
end

# /articles/**/yyyy-mm-dd-slug/* => /yyyy/mm/dd/slug/*
route '/articles/**/*' do
  yyyy,mm,dd,slug,relpath = /\/([0-9]{4})-([0-9]{2})-([0-9]{2})-([^\/]+)\/(.+)$/
    .match(@item.identifier.to_s).captures
  "/#{yyyy}/#{mm}/#{dd}/#{slug}/#{relpath}"
end

route '/assets/**/*.scss' do
  @item.identifier.without_ext + '.css'
end

route '/assets/**/*' do
  @item.identifier.to_s
end

route '/archives/**/*' do
  relpath = /^\/[^\/]*(\/.*)$/.match(@item.identifier.to_s).captures[0]
  relpath
end

route '/members/**/*.adoc' do
  @item.identifier.without_ext + '/index.html'
end

route '/**/*.{html,json}.erb' do
  @item.identifier.without_ext
end

route '/**/*' do
  @item.identifier.to_s
end

layout '/**/*', :erb

# vim: set foldmethod=marker :
