---
title: Rogiken blog
excerpt: ロ技研ブログ
created_at: 2016-05-02T19:41:25+0900
---

<section>
	<h1>Rogiken blog</h1>
	<section>
		<h2>最近の記事</h2>
		<%= render '/part/item-list.*', target_items: sorted_articles[0...20], header_level: 3 %>
	</section>
</section>
