<% prev_item_ = prev_item(sorted_articles) %>
<% next_item_ = next_item(sorted_articles) %>
<% prev_path = prev_item_.path if prev_item_ %>
<% next_path = next_item_.path if next_item_ %>
<% render '/page-base.*',
		prev_uri: prev_path,
		next_uri: next_path do %>

<article>
	<h1><%= h @item[:title] %></h1>
	<aside class="article-info">
		<%= render '/part/created-at.*' %>
		<%= render '/part/htags.*' %>
		<%= render '/part/status.*' %>
	</aside>
	<hr />
	<%= yield %>
	<hr />
	<aside>
		<%= render '/part/author.*', target_item: @item %>
	</aside>
	<hr />
	<aside>
		<div class="next-prev-link grid-row">
			<div class="prev-link col-xs-12 col-md-6">
				<%= newer_article %>
			</div>
			<div class="next-link col-xs-12 col-md-6 col-xs-end">
				<%= older_article %>
			</div>
		</div>
	</aside>
</article>

<% end %>
